@import url('https://fonts.googleapis.com/css?family=Fira%20Code:400|Rethink%20Sans:400');
* {
    margin: 0;
    padding: 0;
}
:root {
    --text: #e1f3f4;
    --background: #091616;
    --primary: #1fcbdb;
    --secondary: #86135e;
    --accent: #7a0200;
}
:root:has(#theme:checked) {
    --text: #0b1d1e;
    --background: #e9f6f6;
    --primary: #24d0e0;
    --secondary: #ec79c4;
    --accent: #ff8785;
}

html {
    font-size: 100%;
}
body {
    font-family: 'Rethink Sans';
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3 {
    font-family: 'Fira Code';
    font-weight: 400;
}
h1 {
    font-size: 2.489rem;
}
h2 {
    font-size: 2.074rem;
}
h3 {
    font-size: 1.728rem;
}
small {
    font-size: 0.833rem;
}

.logo {
    fill: var(--primary);
    width: 100px;
}








.selector-color > fieldset {
    border: 0;
    display: flex;
    gap: 2rem;
    width: fit-content;
    padding: 0.5rem;
    background-color: var(--background);
}
.selector-color label:hover {
    color: var(--secondary);
}
/* Acciones de la interfase de color*/
.selector-color input[type="checkbox"] {
    display: none;
}
.selector-color input[type="checkbox"]:checked ~ label span:nth-child(2) {
    display: inline;
}
.selector-color input[type="checkbox"]:checked ~ label span:last-child {
    display: none;
}
.selector-color input[type="checkbox"]:not(:checked) ~ label span:nth-child(2){
    display: none;
}
.selector-color input[type="checkbox"]:not(:checked) ~ label span:last-child {
    display: inline;
}

.oculto-vista {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
