@import url('https://fonts.googleapis.com/css?family=Fira%20Code:400|Rethink%20Sans:400');

/* :root[data-theme="light"] {
    --text: #0b1d1e;
    --background: #e9f6f6;
    --primary: #24d0e0;
    --secondary: #ec79c4;
    --accent: #ff8785;
} */
/* :root[data-theme="dark"] { */
:root {
    --text: #e1f3f4;
    --background: #091616;
    --primary: #1fcbdb;
    --secondary: #86135e;
    --accent: #7a0200;
}

html {
    font-size: 100%;
}
body {
    font-family: 'Rethink Sans';
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3 {
    font-family: 'Fira Code';
    font-weight: 400;
}
h1 {
    font-size: 2.489rem;
}
h2 {
    font-size: 2.074rem;
}
h3 {
    font-size: 1.728rem;
}
small {
    font-size: 0.833rem;
}
